@import "tailwindcss";


/* @tailwind base;
@tailwind components;
@tailwind utilities; */


*{
  font-family: Outfit;
}

li , a{
  font-family: Ovo;
  
}

h1,h2, h3,h4 {
  font-family: Ovo;
}
p{
  font-family: Ovo;
}